
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    color: white;
}


.videos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minMax(400px,1fr));
    justify-content: space-between;
    gap: 50px;
    padding: 30px;
    width: 100%;
}